# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
*.so
*.mo
*.db
*.sqlite3

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# DB
.env